:root {
  --title-text-color: #212121;
  --primary-text-color: #757575;
  --accent: #2196f3;
  --white-color: #ffffff;
  --secondary--bg-color: #f5f4fa;
  --footer-bg-color: #2f303a;
  --footer-text-color: rgba(255, 255, 255, 0.6);
}

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  background-color: var(--white-color);
  color: var(--primary-text-color);

  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Title */
.title {
  color: var(--title-text-color);
  padding: 0;
  /* margin: 0; */
}

/* Button */
.button {
  color: var(--white-color);
  background-color: var(--accent);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  text-decoration: none;

  display: inline-block;
  min-width: 200px;
  min-height: 50px;
  border-radius: 4px;
}
.button.primary {
  padding: 10px 32px;
}

.button.secondary {
  padding-top: 10px;
  padding-bottom: 10px;
}

/* Logo */
.logo {
  color: var(--accent);

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;

  /* outline: 2px solid red; */
}

.logo.header {
  margin-right: 85px;
}

.logo .primary {
  color: var(--title-text-color);
}

.logo .secondary {
  color: var(--white-color);
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  /* outline: 2px solid red; */
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* Page header */
.section-header {
  border-bottom: 1px solid #ececec;
}

.container.page-header {
  display: flex;
  align-items: center;
}

/* Site-nav */
.site-nav {
  display: flex;
  align-items: center;
}

.site-nav .item:not(:first-child) {
  margin-left: 50px;
}

.addr-nav .item:not(:first-child) {
  margin-left: 30px;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  /* outline: 2px solid red; */
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent);
}

.site-nav .link.current {
  color: var(--accent);
}

/* Addr-nav */
.addr-nav {
  display: flex;
  margin-left: auto;
}

.addr-link {
  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  display: inline-flex;
  align-items: center;

  /* outline: 2px solid red; */
}

.addr-link:hover,
.addr-link:focus {
  color: var(--accent);
}

.icon-addr {
  fill: currentColor;
  margin-right: 10px;
}

/* Footer */
.section-footer {
  background-color: var(--footer-bg-color);
  align-items: center;
}

.container.footer {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding-top: 48px;
  padding-bottom: 28px;
}

.container-addr > .logo {
  display: inline-block;
  margin-bottom: 10px;
}

.addr {
  color: var(--white-color);

  font-size: 14px;
  line-height: 1.7;
}

.join {
  color: var(--white-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;

  display: block;
  text-transform: uppercase;

  margin-bottom: 21px;
}

.addr-footer {
  color: rgba(255, 255, 255, 0.6);

  font-size: 14px;
  line-height: 1.7;
  text-decoration: none;

  margin-bottom: 9px;
}

.social-link {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 206px;
}

.link-box {
  width: 44px;
  height: 44px;
}

.link-box:not(:last-child) {
  margin-right: 10px;
}

.social-footer {
  display: inline-flex;
  padding: 12px;
  margin: 0;
  --color4: var(--white-color);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.social-footer:hover,
.social-footer:focus {
  border-radius: 50%;
  background-color: var(--accent);
}

.icon-image {
  width: 20px;
  height: 20px;
}

/* Copyright */
.copyright {
  color: rgba(255, 255, 255, 0.4);

  font-size: 12px;
  line-height: 2px;
  text-align: center;

  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 19px;
  padding-bottom: 21px;

  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
