/* Button */
button {
  font-family: inherit;
}

.filters {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}

.button-box:not(:last-child) {
  margin-right: 8px;
}

.button-filter {
  color: var(--title-text-color);
  background-color: var(--secondary--bg-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 6px;
  padding-bottom: 6px;
  border: 0;
  border-radius: 4px;
}

.button-filter:hover,
.button-filter:focus {
  cursor: pointer;
  color: var(--white-color);
  background-color: var(--accent);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 3px 1px rgba(0, 0, 0, 0.1);
}

/* Portfolio */
a {
  text-decoration: none;
}

.cards {
  display: flex;
  flex-wrap: wrap;
}

.card-box {
  width: calc((100% - 60px) / 3);
  box-sizing: border-box;
  margin-right: 30px;
  margin-bottom: 30px;
  border: 1px solid #eeeeee;
  border-radius: 5px;
}

.card-box:hover {
  cursor: pointer;
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
    0px 1px 1px rgba(0, 0, 0, 0.12);
}

.card-box:nth-child(3n) {
  margin-right: 0;
}

.card-box:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.card-link {
  display: block;
}

.cards .title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin: 0;
}
.cards .filter {
  color: var(--primary-text-color);

  font-size: 16px;
  line-height: 1.87;
  margin: 0;
}

.card-content {
  padding: 20px 24px;
}

.cards.title,
.cards.filter {
  margin-bottom: 20px;
}

.cards .text {
  color: var(--white-color);

  font-size: 18px;
  line-height: 1.55;
  background-color: var(--accent);
}
